nbproject
.project
.loadpath
log/*.log
tmp
config/database.yml
config/deploy.rb
actionmailer_config_DONOTVERSION.rb
*DONOTVERSION*
db/schema.rb
coverage
.svn
*/.svn
**/**/.svn
*/.svn/*
files/*
*.swp
production_data
*.*~
